html { height: 100%; }
body { min-height: 100%;max-width: 100%;}
body {position: fixed;top:0;bottom:0;left:0;right:0; background-image: url("slike/bck.jpg");background-repeat: no-repeat;background-size: cover;}
.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9,.s10 {border: 5px solid lightslategray;border-radius: 4px;background-color: lightslategrey;}
p {background-color: lightslategrey;text-align: center;}
.grid1 {position:absolute;display: grid;max-width: 180px;max-height: 150px;padding: 15px;row-gap: 15px;column-gap: 15px;}
img {width: 150px;height: 120px;}
h1 {margin-left: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: maroon;font-style: italic;}
p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: mintcream;}
.lorem {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: maroon;margin-top: 43%;margin-right: 40%;margin-left: 20px;font-weight: bold;}
.over {transition: all .2s ease-in-out; }
.o1:hover { transform: scale(1.5); }
.o2:hover { transform: scale(1.5); }
.o3:hover { transform: scale(1.5); }
.o4:hover { transform: scale(1.5); }
.o5:hover { transform: scale(1.5); }
.o6:hover { transform: scale(1.5); }
.o7:hover { transform: scale(1.5); }
.o8:hover { transform: scale(1.5); }
.o9:hover { transform: scale(1.5); }
.o10:hover { transform: scale(1.5); }


@media screen and (max-width:1024px) {
    .grid1 {grid-template-columns: 1fr 1fr 1fr 1fr 1fr;}
     div.over {display: grid;max-width: 180px;max-height: 150px;padding: 25px;row-gap: 80px;column-gap: 25px;
    position: absolute;grid-template-columns: 1fr 1fr 1fr 1fr 1fr;align-items:}


    
}

